.card
  position: relative
  width: 119px
  height: 166px
  border: 5px solid #fff
  box-shadow: 0 0 5px #222
  border-radius: 3px
  text-align: left
  display: inline-block
  background: #49afcd url(/img/larry.png) -18px -18px repeat

.card:not(.hidden)
  &[data-suit]
    background: #fff
    
  &[data-suit]:after
    content: attr(data-name);
    display: block;
    margin: 5px 0 0 3px
    font-size: 32px
    font-weight: bold
    text-transform: uppercase

  &[data-suit=hearts]:after
    color: red
    content: attr(data-name) '♥'

  &[data-suit=diamonds]:after
    color: red
    content: attr(data-name) '♦'
    
  &[data-suit=clubs]:after
    color: black
    content: attr(data-name) '♣'
    
  &[data-suit=spades]:after
    color: black
    content: attr(data-name) '♠'
