.card
  position: relative
  width: 119px
  height: 166px
  box-shadow: 0 0 7px #111
  border-radius: 3px
  text-align: left
  display: block
  float: left
  background: #49afcd url(/img/larry.png) -18px -18px repeat

  &:hover
    transform: rotate(3deg)

  &[data-suit]:after
    display: inline-block
    margin: 5px 0 0 5px
    font-size: 32px
    line-height: 26px
    font-weight: bold
    text-transform: uppercase

.card:not(.face-down)
  &[data-suit]
    background: #fff
    
  &[data-suit]:after
    white-space: pre
    content: attr(data-name) '\A' attr(data-suit)

  &[data-suit=♥]:after, &[data-suit=♦]:after
    color: red
