.card
  position: relative
  width: 119px
  height: 166px
  border: 5px solid #fff
  background:#8ec1da url(/img/larry.png) -18px -18px repeat
  box-shadow: 0 0 1px #222
  border-radius: 3px
  text-align: left
  display: inline-block
  margin: 0 3px

.card[data-suit]
  background: #fff
  
.card[data-suit]:after
  content: attr(data-name);
  display: block;
  margin: 5px 0 0 3px;
  font-size: 32px;
  font-weight: bold;

.card[data-suit=hearts]:after
  color: red
  content: attr(data-name) '♥'

.card[data-suit=diamonds]:after
  color: red
  content: attr(data-name) '♦'
  
.card[data-suit=clubs]:after
  color: black
  content: attr(data-name) '♣'
  
.card[data-suit=spades]:after
  color: black
  content: attr(data-name) '♠'
