.hand .score
  text-transform: capitalize

.hand .card
  &:not(:first-child)
    margin-left: -70px
    
  &:nth-child(odd)
    transform: rotate(-2deg)
    
  &:nth-child(even)
    transform: rotate(2deg)
