.hand .score
  text-transform: capitalize

.player.score
  margin-bottom:5px

.dealer.score
  margin-top: 5px

.hand .card
  &:not(:first-child)
    margin-left: -75px
    
  &:nth-child(odd)
    transform: rotate(-2deg)
    
  &:nth-child(even)
    transform: rotate(2deg)
