.score
  text-align: right

.score .label, .score .badge
  display: block !important
  text-align: center
  
.score .label
  margin-bottom: 5px

section
  margin-top: 15px
  
.hand .card:not(:first-child)
  margin-left: -70px
