@import './mixin'
@import './score'
@import './cards'
@import './pot'
@import './responsive'

*
  box-sizing: border-box

body
  background: darkgreen

.page-header
  color: #fff
  border-bottom: 1px solid #fff

  a, small
    color: #fff
  a:hover
    color: #fff
    text-decoration: underline

.row
  margin-top: 15px

.navbar
  box-shadow: 0 0 5px #444
