@import './mixin'
@import './cards'
@import './shoe'

*
  box-sizing: border-box

body
  background: darkgreen

.navbar
  box-shadow: 0 0 5px #444

.hand
  margin: 15px auto;
  position: absolute;
  text-align: center;

.dealer.hand
  top: 0
    
.player.hand
  bottom: 45px;
