@import './mixin'
@import './cards'
@import './hand'

*
  box-sizing: border-box

body
  background: darkgreen

h1
  color: #fff
  
hr
  color: #fff
  background-color: #fff
  height: 5px

section.pot
  margin-top:30px
  margin-bottom: 30px

.label
  text-transform: capitalize
  
.winner .value
  opacity 1 !important
  
h1 
  a, small
    color: #fff
  a:hover
    color: #fff
    text-decoration: underline

.row
  margin-top: 15px

.navbar
  box-shadow: 0 0 5px #444
  
.btn-group
  display:inline-block
  
.bet button:after
  content: '$' attr(data-amount)
  
.alert-inverse
  background: #333
  color: white
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
  border: none

