.shoe
  position: absolute
  top: 0; right: 0
  width: 250px; height: 250px
  border-radius: 250px
  border: 5px solid #efefef
  text-align: center
  margin: 15px

.shoe .card
  position: absolute
  top: 35px; left: 60px

.shoe .card:nth-child(even)
  transform: rotate(5deg)
